[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/axemanofic/nvchad-config.git
[submodule "config/alacritty"]
	path = config/alacritty
	url = https://github.com/axemanofic/alacritty-config.git
[submodule "config/oh_my_tmux"]
	path = config/oh_my_tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "config/tmux"]
	path = config/tmux
	url = https://github.com/axemanofic/tmux-config.git
